[submodule "standard-animation"]
	path = standard-animation
	url = https://github.com/cchamberlain/standard-animation.git
[submodule "standard-data"]
	path = standard-data
	url = https://github.com/cchamberlain/standard-data.git
[submodule "standard-controls"]
	path = standard-controls
	url = https://github.com/cchamberlain/standard-controls.git
[submodule "standard-metrics"]
	path = standard-metrics
	url = https://github.com/cchamberlain/standard-metrics.git
[submodule "standard-boilerplate"]
	path = standard-boilerplate
	url = https://github.com/cchamberlain/standard-boilerplate.git
[submodule "space"]
	path = space
	url = https://github.com/cchamberlain/space.git
